---
---
<div class="taskbar" role="toolbar" aria-label="Taskbar">
  <button class="button taskbar-start" id="start-btn" aria-haspopup="true" aria-expanded="false">
    <img src="/icons/win98/windows.ico" alt="" width="20" height="20" />
    Start
  </button>
  <div class="taskbar-separator" aria-hidden="true"></div>
  <div id="taskbar-windows"></div>
  <div class="taskbar-tray" aria-label="System clock">
    <span id="taskbar-clock">12:00:00 AM</span>
  </div>
</div>
